[Unit]
Description=Profile-O-Mat python flask backend

[Service]
Type=simple
EnvironmentFile=/srv/Profile-O-Mat/backend/twitter.conf
WorkingDirectory=/srv/Profile-O-Mat/backend/api
ExecStart=/srv/Profile-O-Mat/backend/api/main.py
TimeoutSec=0
StandardOutput=journal
RemainAfterExit=no
